* {
    margin: 0;
    padding: 0;
}

/* banner-style-start */
.banner-section {
    background: rgba(229, 84, 115, 0.10);

}

.banner {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.banner-items {
    margin: 200px;
    padding: 30px;
}

.banner-title {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    display: flex;
    width: 708px;
    flex-direction: column;


}

.button {
    border-radius: 8px;
    background: #E55473;
    padding: 20px 43px;
    gap: 10px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    margin-top: 40px;
    border: none;

}

.banner-img {
    margin: 150px 200px -5px 0px;

}

/* banner-style-end */

/* hot-deal-sub-container-style-start */
.hot-deal-container {
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);

}

.hot-deal-sub-container {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.hot-deal-items {
    margin: 200px;
    padding: 30px;
}

.hot-deal-sub-container-title {
    color: #272727;
    font-weight: 800;
    flex-direction: column;


}
.hot-deal-sub-container-img {
    margin: 30px 200px 5px 40px;

}

/* hot-deal-sub-container-style-end */

/* our-future-section-style */
.our-future-section {
    align-items: center;
    text-align: center;
}

.future-section-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}
h3{
    margin-top: 10px;
}
.future-section-item1{
    margin-top: 40px;
}

.future-section-item2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    height: 800px;
    

}
.rose-benifit-section{
    width: 80%;
    margin: 0 auto;
    height: 500px;
    display: flex;
    background: rgba(229, 84, 115, 0.05);
    margin-bottom: 50px;
}
.rose-benifit-section-item1{
    margin: 30px 20px 5px 100px;

}
.rose-benifit-section-item2{
    margin: 100px 20px 5px 30px;
    text-align: center;

}
.rose-benifit-title{
    text-align: center;
    font-size: 45px;
}

.future-section-item3 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    width: 80%;
    height: 500px;
    /* border-radius: 8px; */
    background: rgba(39, 39, 39, 0.05);
    margin: 0 auto;
    margin-bottom: 50px;



}

.future-section-img1 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    padding: 20px 20px 0px 20px;
    width: 464px;
    height: 538px;


}

.future-section-img2 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    padding: 20px 20px 0px 20px;
    width: 464px;
    height: 538px;
    align-items: center;
    text-align: center;


}

.future-section-img3 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    padding: 20px 20px 0px 20px;
    width: 464px;
    height: 538px;
    flex-shrink: 0;

}

/* our-future-section-style */


/* instagram-section-style-start */
.instagram-section {
    align-items: center;
    text-align: center;
}

.instagram-name {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.instagram-section-images {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    width: 100%;
    height: 500px;

}

/* instagram-section-style-end */

/* get-container-section-style-start */
.get-sub-section-continer {
    background-image: url('images/Rectangle\ 9.png');
    background-repeat: no-repeat;
    width: 1450px;
    height: 449px;
}

.get-section-container {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    width: 100%;
    height: 449px;

}

.get-sub-section-container-item {
    text-align: center;
    padding: 20px;
    margin: 120px;
}

.get-section title {
    color: #272727;
    text-align: center;
    font-weight: 800;
    font-size: 40px;
}

.get-coupon-offer {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-top: 10px;
}

.input-email {
    width: 700px;
    height: 20px;
    border-radius: 8px;
    background: #FFF;
    padding: 20px;

}

/* get-container-section-style-end */

/* footer-style-start */
.footer-section {
    background: #111010;
    height: 440px;
    align-items: center;
    width: 100%;
    height: 200px;
    padding: 60px;
}

.footer-title {
    color: white;
    font-size: 48px;
    font-weight: 800;
    text-align: center;
    margin-top: 20px;

}

.flower-text-color {
    color: #E55473;

}

.footer-dsc {
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;

}

.footer-botom-name {
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 16px;
    font-weight: 400;


}

/* footer-style-end */